

.section09{
  width: 100%;
  height: 100%;
}

.section09_bg{

  background: linear-gradient(rgba(200, 160, 110,0.8), rgba(200, 160, 110,0.7)), url(./image/section09-bg.jpg) no-repeat center/cover;
height: 500px;
width: 100%;
background-attachment: fixed;
}

.section09_title h1{
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}

.section09_title{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 3rem;
  z-index: 3;

}


.section09_title_img img {
  filter: brightness(0);
}

.section09_title p{
  color: rgb(0, 0, 0);

  line-height: 1.5rem;
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;

}

.section09_text{
  height: 500px;
  width: 600px;
  display: flex;
  text-align: center;
    margin: 3rem;
    flex-direction: column;
}

.section09_btn_box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.section09_btn_line{
  width: 150px;
  height: 55px;
  display: block;
  text-align: center;
  cursor: pointer;
  line-height: 45px;
  color: black;
  background-color: transparent;
  position: relative;
  transition: all .3s linear;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

.section09_btn_line > p{
  position: relative;
  z-index: 1;

}


.section09_btn{
  width: 140px;
  height: 45px;
  background:rgb(0, 0, 0);
  position: absolute;
  top: 5px;
  left: 5px;
}

.section09_btn p{
  color: rgb(200, 160, 110);
  line-height: 2rem;
  margin-top: 0.5rem;
  font-family: 'Bebas Neue', cursive ;

}

.section09_btn_line::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s linear;
}
.section09_btn_line::after{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all .3s linear;
}
.section09_btn_line:hover::before,
.section09_btn_line:hover::after{
  width: 100%;
  height: 100%;
}

.section09_btn_box:hover > .section09_btn_line > .section09_btn > p {
color: white;
/* transition: all .10s linear;a */
z-index: 100;
}

@media(max-width:768px) {
  .section09_bg{
    height: 600px;
  }
}